body {
	margin-left: 10px;
	padding: 0;

}
table,td,th{
	border: 2px solid #000;
	border-collapse: collapse;
}
table button{
	background: red;
}
th{
	background: black;
	color: white;
	border: 1px solid white;
	border-collapse: collapse;
}
.my-list td:nth-child(2){
	background: greenyellow;
}
.my-list td:nth-child(3){
	background: greenyellow;
}
.my-list1 td:nth-child(2){
	background: blueviolet;
}
.my-list2 td:nth-child(2){
	background: greenyellow;
}
.my-list3 td:nth-child(3){
	background: greenyellow;
}
.my-list5 td:nth-child(2){
	background: blueviolet;
}
.my-list5 td:nth-child(3){
	background: blueviolet;
}