body h1{
	margin-left: 500px;
}

body h6{
	margin-left: 500px;
}

body h4{
	margin-left: 100px;
	margin-top: 0px;
	width: 40%;
	line-height: 0px;

}
body p{
	margin-left: 100px;
	margin-top: 0px;
	padding-top: 0px;
	word-spacing : 0.1em;
	line-height: 0px;
	l

}