.india{
	background-color: blue;
	font-weight: bold;
}
.usa{
	background-color: green;
	font-weight: bold;
}
.france{
	background-color: red;
	font-weight: bold;
}
.table{
	border: 1px solid black;
	border-collapse: collapse;
	margin-bottom: 10px;
}
.td{
	font-weight: bold;
	border: 1px solid black;
	text-align: center;
}
.th{
	background-color: black;
	color: white;
	border: 1px solid white;
	padding-left: 15px;
	padding-right: 15px;
}
.remBtn{
	margin: 2px;
	background-color: red;
	color: white;
}